// main: ../style.less

.modal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;

  background-color: fade(@black, 80%);
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.modal_dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #fff;

}

.modal__close {
  width: 39px;
  height: 39px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  z-index: 1;
  transition: transform .2s linear;

  &:hover {
    transform: rotate(90deg);
  }
}

.modal-work_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 0 1.8rem 1rem;
}

.modal-work__btn {
  font-size: .94rem;
  color: @black;
  text-transform: uppercase;
  background: none;
  border: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}
